<?xml version="1.0"?>

<model>
  <name>RinkRover Robot Model</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Kiran Surendran</name>
    <email>kirank.suren@gmail.com</email>
  </author>

  <description>
    RinkRover Base robot model
  </description>
</model>
