<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="RRSystem" type="system">
    <hardware>
        <plugin>rinkrover_hardware/RRSystemHardware</plugin>
        <param name="steering_joint_name">steering_joint</param>
        <param name="traction_joint_name">virtual_traction_joint</param>
        <param name="device">/dev/ttyUSB0</param>
        <param name="track_width">0.748</param>
        <param name="wheelbase">1.06</param>
        <param name="loop_rate">30</param>
        <param name="baud_rate">9600</param>
        <param name="timeout_ms">1000</param>
        <param name="enc_counts_per_rev">360</param>
    </hardware>
    <joint name="steering_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
    </joint>
    <joint name="virtual_traction_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
    </joint>
    </ros2_control>

</robot>