<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="RRSystem" type="system">
    <hardware>
        <plugin>rinkrover_hardware/RRSystemHardware</plugin>
        <param name="steering_joint_name">steering_joint</param>
        <param name="traction_joint_name">virtual_traction_joint</param>
        <param name="device">/dev/ttyUSB0</param>
        <param name="track_width">0.748</param>
        <param name="wheelbase">1.06</param>
        <param name="loop_rate">30</param>
        <param name="baud_rate">9600</param>
        <param name="timeout_ms">3000</param>
        <param name="enc_counts_per_rev">360</param>
    </hardware>
    <joint name="steering_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
    </joint>
    <joint name="virtual_traction_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
    </joint>
    
    <sensor name="imu_sensor" type="imu_sensor">
        <state_interface name="orientation.w"/>
        <state_interface name="orientation.x"/>
        <state_interface name="orientation.y"/>
        <state_interface name="orientation.z"/>

        <state_interface name="angular_velocity.x"/>
        <state_interface name="angular_velocity.y"/>
        <state_interface name="angular_velocity.z"/>

        <state_interface name="linear_acceleration.x"/>
        <state_interface name="linear_acceleration.y"/>
        <state_interface name="linear_acceleration.z"/>
    </sensor>

    </ros2_control>

</robot>